$primary: white
$secondary: #f2f2f2
$tertiary: #404040
$yellow: #ffff99
    
body 
    text-align: center
     
@import styles/texts
@import styles/navigation
@import styles/banner
@import styles/knowledge
@import styles/portfolio
@import styles/blog
@import styles/footers


